.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
Logger/
*.log
.log
/GTC_MAITRE_Logging.log.1
/GTC_MAITRE_Logging.log.2
/GTC_MAITRE_Logging.xml
/GTC_MAITRE_Logging.xml.1
/GTC_MAITRE_Logging.xml.2
